<h1>Armstrong Numbers in Range</h1>

<h2>Result:</h2>
<p id="result">
    <% if @result.nil? %>
    <%= 'Timeout error' %> <br>
    <% else %>
    <%= 'Output armstrong numbers:'  %> <%= @result.join(", ") %> <br>
    <%= 'Count this numbers:'  %> <%= @count  %> <br>
    <% end %>
</p>

<p>Determination</p>
<p id="result-1"></p>
    <table border = "1" align = "center" bordercolor = "black" cellspacing = "5">
    
    <tr>
        <th>Index</th>
        <th>Armstrong Numbers in range</th>
    </tr>
    
    <%  @result.each_index do |i| %>
        <tr>                                        <%# begin row %>
            <td> <%= i+1  %> </td>
            <td> <%= @result[i]  %> </td>
        <tr>
    <% end  %>
    </table>

    <%= link_to "Find Armstrongs number for another digits range", :input_input %> <br>
    <%= link_to "Show all queries", '/input/queries' %>